body{
   padding: 0px;
    margin:0px;
    background-color: rgb(19, 19, 28);
    display: flex;
    @include respond-to("mobile"){
        flex-direction: column;
    }
    nav{
        position:sticky;
        top:0;
        border:1px solid white;
        height: fit-content;
    }
    main {
        // margin-left: 230px;
        padding: 0 25px;
    }
  
}